<!--
NAME: DANIEL MIRANDA
STUDENT ID: 301249991
DATE: JUNE 6, 202

-->
<footer id="footer">
  <h4>&copy;&nbsp;&nbsp;DANIEL MIRANDA - CENTENNIAL COLLEGE - SUMMER 2023</h4>
</footer>
<script>
  var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>