<!--

  //NAME: DANIEL MIRANDA
//STUDENT ID: 301249991
//DATE: JUNE 6, 2023
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>catch the cat</title>
  <link rel="stylesheet" href="/stylesheets/a5.css">  
  <link rel="shortcut icon" href="/images/profile_image.png" type="image/x-icon">
</head>
<body>        
  <div id="container">
    <div id="infoDiv">
      <h1>WELCOME TO BUG SMASHER GAME</h1>    
      <p>SMAAAASSSH!</p>
      <h3>SMASH COUNT: <span id="counter"> </span></h3>
      <button onclick="resetScore()">
        Reset Score
      </button>
      <button onclick="resetSpeed()">
        Reset Speed
      </button>
    </div>    
    <div id="game">
      
    </div> 
    <footer>
      <h4>Copyright &copy; - DANIEL MIRANDA - CENTENNIAL COLLEGE - SUMMER 2023</h4>
    </footer>
  </div>   
  <script src="/javascripts/a5.js"></script>  
</body>
</html>