<!--

NAME: DANIEL MIRANDA
STUDENT ID: 301249991
DATE: JUNE 6, 2023

-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about</title>
  
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/aboutstyle.css">  
  <link rel="shortcut icon" href="/images/profile_image.png" type="image/x-icon">
</head>
<body>
  <%- include ('partials/header')%>  
  <div id="aboutContainer">    
    <div id="textContainer">
      <blockquote>
        <h2>ABOUT ME</h2>
        I'm Daniel, and I'm a software engineering student at Centennial College, passionate about building innovative solutions and expanding my skills in both backend and frontend development. 
        I thrive on challenges and value teamwork, constantly seeking opportunities to learn and grow in the field of software engineering.
        &nbsp;<button id="resume"><a href="../images/Daniel_MIranda_Resume.pdf" target="_blank">MY RESUME</a></button>
      </blockquote>  
   
    </div>
    <div id="imgContainer">
      <img src="../images/VISA.JPG" alt="">
    </div>  
  </div>    
  <%- include ('partials/footer')%>
</body>
</html>