<!--

NAME: DANIEL MIRANDA
STUDENT ID: 301249991
DATE: JUNE 6, 2023

-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/images/profile_image.png" type="image/x-icon">
  <title>home</title>
  
</head>
<body class="homeBody">
  
  <%- include ('partials/header')%>  
  <div id="mainContainer">
    <div id="imgContainer">
      <img src="../images/VISA.JPG" alt="">
      <div id="quote">                
        <blockquote>          
         <h1>WELCOME</h1>  
          <h2>MISSION STATEMENT</h2>
          I'm Daniel, As a student software engineer specializing in both backend and frontend development, my mission is to acquire the knowledge, skills, and experience necessary to become a proficient and versatile professional in the field of software engineering. I am committed to gaining a deep understanding of software architecture, programming languages, and frameworks to effectively build robust and efficient applications. By actively engaging in hands-on projects and collaborating with peers and mentors, I aim to develop expertise in both backend and frontend technologies, allowing me to contribute to the development of innovative software solutions. Through continuous learning and staying updated with the latest industry trends, I strive to enhance user experiences by creating intuitive and seamless applications that cater to their needs. By embracing challenges and seeking opportunities for growth, I aspire to make a meaningful impact in the software engineering industry, leveraging my skills to create solutions that positively impact businesses and individuals.        </blockquote>        
        <div id="buttonDiv">
          <button id="aboutMe"><a href="/about">ABOUT ME</a></button>
        </div>
      </div>
    </div>    
  </div>
  <%- include ('partials/footer')%>
</body>
</html>





