<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="shortcut icon" href="/images/profile_image.png" type="image/x-icon">
  <title>login</title>
</head>
<body>
  <%- include ('partials/header')%>   
  <div id="loginContainer">
    <h1 id="Uppercase">Please Enter Your Login Details</h1>
  <h1 class="Uppercase">Username</h1>
  <input type="text">
  <h1 class="Uppercase">Password</h1>
  <input type="password"><br>  
  <button>Login</button>
  <h4>Click here to create an account if you don't have</h4>
 </div>
  <%- include ('partials/footer')%>  
</body>
</html>