<!--

NAME: DANIEL MIRANDA
STUDENT ID: 301249991
DATE: JUNE 6, 2023

-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>projects</title>
  
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/projectstyle.css">  
  <link rel="shortcut icon" href="/images/profile_image.png" type="image/x-icon">
</head>
<body>
  <%- include ('partials/header')%>  
  <div id="mainContainer">
    <h1>PROJECTS</h1>
    <div id="projectsDiv" class="projects">
      <div id="project1" class="projectsDiv">
        <h2>BMR CALCULATOR</h2>
        <img src="/images/Bmr.png" alt="screenshot of bmr calculator">        
        <h4><a href="./a1" target="_blank">VIEW PROJECT</a></h4>         
      </div>
      <div id="project2" class="projectsDiv">
        <h2>BUG SMASHER</h2>
        <img src="/images/Bug-smasher.png" alt="screenshot of cat game">        
        <h4><a href="./a5" target="_blank">VIEW PROJECT</a></h4>
      </div>
      <div id="project3" class="projectsDiv">
        <h2>MEMBERSHIP FORM</h2>
        <img src="/images/Membership Form.png" alt="screenshot of membership form">
        <h4><a href="./a4" target="_blank">VIEW PROJECT</a></h4>
      </div>
      <div id="project4" class="projectsDiv">
        <h2>SLIDESHOW</h2>
        <img src="/images/IMG_02.JPG" alt="screenshot of picture slideshow">
        <h4><a href="./a6" target="_blank">VIEW PROJECT</a></h4>
      </div>
    </div>    
  </div>
  <%- include ('partials/footer')%>
</body>
</html>