<!--

NAME: DANIEL MIRANDA
STUDENT ID: 301249991
DATE: JUNE 6, 2023

-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">  
  <link rel="stylesheet" href="/stylesheets/servicestyle.css">  
  <link rel="shortcut icon" href="/images/profile_image.png" type="image/x-icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
  <title>services</title>

</head>
<body>
  <%- include ('partials/header')%>    
  <div id="mainContainer">
    <h1>SERVICES</h1> 
  </div>     
  <div id="servicesContainer">  
    <div id="web" class="services">
      <h2>WEB DESIGNING</h2>
      <p>With my expertise in HTML, CSS, and JavaScript, I have successfully developed diverse websites in the past. I am capable of creating a fully functional website tailored to your requirements and desired features, ensuring timely delivery and utmost satisfaction.
      </p>
    </div>
    <div id="programming" class="services">
      <h2>PROGRAMMING</h2>
      <p>I have expertise in C#, Java, JavaScript, and a basic understanding of Python. I am capable of assisting you with various programming requirements within my skillset. Feel free to reach out to me with your app or program idea.
      </p>
    </div>
    <div id="database" class="services">
      <h2>DATABASE</h2>
      <p>I have extensive experience working with Oracle databases and possess strong SQL skills. Whether you need assistance in creating, operating, maintaining, or navigating within a database, I can provide the necessary support and expertise to meet your database needs.
      </p>
    </div>
  </div>
  <%- include ('partials/footer')%>
  <script src="/javascripts/services.js"></script>
</body>
</html>